body {
    display: flex;
    flex-direction: row;
    /*height: 100vh;*/
}

.editor-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100vw;
    height: 100vh;
}

.dashboard {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
    align-items: flex-end;
    justify-content: end;
}

.dashboard-bt {
    height: 5vh;
    width: 5vh;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    border: 0;
}

.dashboard-bt:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

.dashboard-bt:active {
    background-color: rgba(0, 60, 0, 70);
}

.new-note{
    background-image: url("../icons/add.png");
}
.save{
    background-image: url("../icons/save.png");
}
.tag{
    background-image: url("../icons/tag.png");
}
.share{
    background-image: url("../icons/shr-icon.png");
}
.change-view{
    background-image: url("../icons/change_view.png");
}
.delete{
    background-image: url("../icons/delete.png");
}

.user-menu-button {
    background-color: #C4C4C4;
    width: fit-content;
    height: 5vh;
    font-size: 2vh;
    border: 0;
}

h5 {
    margin: 0.5vh;
}

.top-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left-panel-button {
    background-image: url("../icons/menu_icon.png");
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
}

.edit-fields-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    padding-left: 1vh;
    padding-right: 1vh;
    gap: 1vh;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.manage-note-tags {
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.edit-textarea-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: 1vh;
    margin: 0;
    padding: 0;
}

.editing-panel {
    display: block;
    border: 0;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 0.5vh;
    font-size: 16px;
    color: white;
    resize: none;
    max-width: 50%;
    padding: 1vh;
    min-height: 90vh;
    flex-grow: 1;
    box-sizing: border-box;
    word-break: break-word;
}

.editing-panel-title {
    text-align: center;
    font-weight: bold;
    overflow-y: hidden;
    min-height: 2vh;
    max-height: 2vh;
    min-width: 100%;
    margin: 0;
    border: 0;
    padding: 0.3vh;
}
