@font-face {
    font-family: 'customroboto';
    src: url(../font/Roboto-Regular.ttf);
}

* {
    font-family: "customroboto";
}

body {
    color: white;
    margin: 0;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.55) url("../pictures/background.jpg");
    background-size: cover;
    background-blend-mode: darken;
    font-weight: 400;
}
